.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  overflow: hidden;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.single {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single h2 {
  border: black 1px solid;
  border-radius: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: .5rem;
}

.scrollBtnContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 5rem;
}

.scroll {
  border-radius: 50px;
  border: none;
  padding: .5rem;
  box-shadow:  5px 10px 3px #888888;
}

.scroll:hover {
  transform: translateY(-20%);
  background:black;
  color: white;
}

.recipe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}